pkgbase = nzbget-git
	pkgdesc = Download from Usenet using .nzb files (testing release)
	pkgver = 24.2
	pkgrel = 20240716
	url = https://github.com/nzbgetcom/nzbget
	install = nzbget.install
	arch = x86_64
	license = GPL
	depends = libxml2
	depends = openssl
	optdepends = python: run scripts
	optdepends = unrar: unpacking archives
	optdepends = p7zip: unpacking archives
	optdepends = par2cmdline: verificate and repair PAR 2.0 files
	provides = nzbget
	provides = nzbget-systemd
	conflicts = nzbget
	conflicts = nzbget-systemd
	source = nzbget-24.2-testing-20240716-amd64.deb::https://github.com/nzbgetcom/nzbget/releases/download/testing/nzbget-24.2-testing-20240716-amd64.deb
	source = nzbget.service
	sha256sums = 87515d84e8dd0ff35eae6555c1d3faf333c9091b35f3d9184c7b8d97d08317df
	sha256sums = e92d2d09e56930475c9f28641a3326a17aa187834e1bd6328a65b6ed7cc25e99

pkgname = nzbget-git
