pkgbase = nzbget-git
	pkgdesc = Download from Usenet using .nzb files (testing release)
	pkgver = 24.3
	pkgrel = 20240910
	url = https://github.com/nzbgetcom/nzbget
	install = nzbget.install
	arch = x86_64
	license = GPL
	depends = libxml2
	depends = openssl
	optdepends = python: run scripts
	optdepends = unrar: unpacking archives
	optdepends = p7zip: unpacking archives
	optdepends = par2cmdline: verificate and repair PAR 2.0 files
	provides = nzbget
	provides = nzbget-systemd
	conflicts = nzbget
	conflicts = nzbget-systemd
	source = nzbget-24.3-testing-20240910-amd64.deb::https://github.com/nzbgetcom/nzbget/releases/download/testing/nzbget-24.3-testing-20240910-amd64.deb
	source = nzbget.service
	sha256sums = ba733742364693a7f0b96b00224e8f5b9be473e5a793c7f6f3c6ef2518208035
	sha256sums = e92d2d09e56930475c9f28641a3326a17aa187834e1bd6328a65b6ed7cc25e99

pkgname = nzbget-git
